<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <div id="content" class="mx-auto">
            {{- partial "header.html" . -}}
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>-->
</html>
