{{ define "main" }}
    <div class="pl-sm-4 ml-sm-5">
        <ul class="list-unstyled">
        {{ range .Pages }}
            <li>
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    {{ .Date.Format "Jan 2 2006" }}
                </time>
                <a href="{{ .RelPermalink }}">
                    {{ if .Draft }}DRAFT: {{end}}{{ .Title }}
                </a>
            </li>
        {{ end }}
        </ul>
    </div>
{{ end }}
