<header class="container mt-5 mb-5 mt-xs-1">
    <div class="row">
        <div class="col-sm-4 col-12 text-sm-right text-center p-3 pt-4">
            <img id="me" class="rounded-circle" src="/img/me.jpeg">
        </div>
        <div class="col-sm-8 col-12 text-sm-left text-center">
            <h2 class="m-0 mb-2 mt-4">Austin Gebauer</h2>
            <p class="text-muted mb-1">Software Engineer | NGINX | Seattle, WA</p>
            <ul id="nav-links" class="list-inline mb-2">
                <li class="list-inline-item">
                    <a href="/" class="badge badge-white">Home</a>
                </li>
                <li class="list-inline-item">
                    <a href="/about" class="badge badge-white">About</a>
                </li>
                <li class="list-inline-item">
                    <a href="/posts" class="badge badge-white">Posts</a>
                </li>
                <li class="list-inline-item">
                    <a href="/categories" class="badge badge-white">Categories</a>
                </li>
            </ul>
            <ul id="nav-social" class="list-inline">
                <li class="list-inline-item mr-3">
                    <a href="https://github.com/austingebauer" target="_blank">
                        <i class="fab fa-github fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="https://www.linkedin.com/in/austingebauer" target="_blank">
                        <i class="fab fa-linkedin-in fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="https://twitter.com/austingebauer" target="_blank">
                        <i class="fab fa-twitter fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="mailto:gebauer.austin@gmail.com">
                        <i class="fas fa-at fa-1x text-muted"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</header>
