<header class="container mt-sm-5 mt-4 mb-4 mt-xs-1">
    <div class="row">
        <div class="col-sm-4 col-12 text-sm-right text-center pt-sm-4">
            <a href="/" class="text-decoration-none">
                <img id="home-image" class="rounded-circle" src="{{ .Site.Params.home_image }}" />
            </a>
        </div>
        <div class="col-sm-8 col-12 text-sm-left text-center">
            <h2 class="m-0 mb-2 mt-4">
                <a href="/" class="text-decoration-none text-dark">
                    {{ .Site.Params.header_title }}
                </a>
            </h2>
            <p class="text-muted mb-1">
                {{ .Site.Params.header_subtitle }}
            </p>
            <ul id="nav-links" class="list-inline mb-2">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="list-inline-item">
                        <a class="badge badge-white {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
            <!-- TODO: parameterize these icons and links-->
            <ul id="nav-social" class="list-inline">
                <li class="list-inline-item mr-3">
                    <a href="https://github.com/austingebauer" target="_blank">
                        <i class="fab fa-github fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="https://www.linkedin.com/in/austingebauer" target="_blank">
                        <i class="fab fa-linkedin-in fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="https://twitter.com/austingebauer" target="_blank">
                        <i class="fab fa-twitter fa-1x text-muted"></i>
                    </a>
                </li>
                <li class="list-inline-item mr-3">
                    <a href="mailto:gebauer.austin@gmail.com">
                        <i class="fas fa-at fa-1x text-muted"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</header>
